@charset "UTF-8";


/* ==== Conteudo ==== */

.content:before {
    content: "";
    position: fixed;
    background-image: url("../teste-wpp.jpg");
    background-position: 50% 50%;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-filter: contrast(80%);
    -moz-filter: contrast(80%);
    -o-filter: contrast(80%);
    -ms-filter: contrast(80%);
    filter: contrast(80%); 
}
  
  

/* ====== Card Central ====== */

.valign-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
  
.card {
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
}


.dados-participante { margin-bottom: 30px }

#title {
    font-size: 2.5rem !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    margin-top: 25px;
}


#btn-prox { 
    margin-top: 30px; 
    margin-bottom: 20px 
}

#add-button-m-l {
    margin-top: 30px;
    margin-bottom: 30px
}


fieldset {
    width: 10%;
    border-top: 0.2px ridge rgb(54, 54, 54);
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: inline-block;
    margin-bottom: 20px
}
 
#progresso {
    padding: 5px 10px;
}

.p-nome { padding-top: 300px; }

.divisor { 
    width: 2%; 
    border: rgb(61, 175, 113) 0px;
    padding-bottom: 500px;    
}
 

/* ==== Parte responsiva ==== */


@media screen and (min-height: 820px) and (min-width: 600px) {
    html, body, .content, .container, .row, .col, .valign-wrapper { height: 100%; }
}

@media screen and (max-height: 820px) {
    .valign-wrapper { margin-top: 20%; }
}